<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%=link_to 'OMG Authy', root_path, class: 'navbar-brand'%>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav">
          <li> <%= link_to 'Twitter', '/auth/twitter', class: 'btn btn-xs' %> </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <% flash.each do |k,v| %>
   <div class="alert alert-<%= k %>">
     <%= v %>
  <% end %>
</div>
